html,
body,
#root,
#root > div {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background: #151516;
}
body::-webkit-scrollbar {
  width: 10px;
  background: #2c3e50;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #243140;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #22446b;
}
.disconnected {
  background-color: #ff0400;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.connected {
  background-color: #00ff04;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.breakpoints {
  width: 0.8em;
}
.breakpoint {
  color: #822;
}
.remove-panel {
  cursor: pointer;
  float: right;
}
.panel {
  background: #f7f7f7;
  padding: 3px 7px;
  font-size: 0.85em;
}
.panel.top,
.panel.after-top {
  border-bottom: 1px solid #ddd;
}
.panel.bottom,
.panel.before-bottom {
  border-top: 1px solid #ddd;
}
